<div class="card-group">
    <div  *ngFor="let locations of locations"  (click)="addToCart(locations)" [routerLink]="['/travels', locations.locationId]" class="card">
        <img class="card-img-top" src="../../assets/img/placeholder.png" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{locations.name}}</h5>
            <p class="card-text">{{locations.text}}</p>
            <hr>
            <p class="card-text">Starting date: {{locations.date}}</p>
            <p class="card-text">Duration: {{locations.duration}}</p>
            <p class="card-text"><small class="text-muted"><b>Price: {{locations.price}}</b></small></p>
        </div>
    </div>
</div>
